.navbar {
    border-bottom: 1px solid lightgrey;
}

.columns {
   margin-top: 10px;
}

#data-quality-description {
    margin: 10px 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    background-color: lightyellow;
}

.plot-grid {
    display: grid;
    grid-gap: 40px;
}
